@import url('https://fonts.googleapis.com/css?family=Archivo+Black:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/* Colours */

.bg-color-name-title{
    background-color: #000000;
}

.ui-menu-color-home {
    background-color: #000000;
}

.ui-menu-color-resume {
    background-color: #000000;
}

.ui-menu-color-contact {
    background-color: #000000;
}

.ui-menu-color-download {
    background-color: #000000;
}

/* Special paddings/margins/text */

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
}

/* Headings */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/bwtristan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "archivo black", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #000;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #000;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff
}

/* Hover.CSS */

#home .hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
    background: #beef00;
    height: 120px; 
    transition-duration: 2s;
}

#resume .hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
    background: #ff0028;
    height: 120px; 
    transition-duration: 2s;
}

#contact, .hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
    background: #657a00;
    height: 120px; 
    transition-duration: 2s;
}

#download, .hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
    background: #0019ea;
    height: 120px; 
    transition-duration: 2s;
}

/* Footer */

footer {
    background-color: #000000;
    color: #ffffff;
    min-height: 120px;
    margin: 0;
}