@import url('https://fonts.googleapis.com/css?family=Archivo+Black:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/* Colours */

.bg-color-name-title {
    background-color: #000000;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.ui-menu-color-home {
   background-color: #beef00;
}

.ui-menu-color-resume {
    background-color: #ff0028;
}

.ui-menu-color-contact {
    background-color: #657a00;
}

.ui-menu-color-download {
    background-color: #0019ea;
}

.bg-color-personal-info {
    background-color: #fff;
}

/* Special paddings/margins/text */

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
}

.inline-block {
    display: inline-block;
    font-family: "roboto", sans-serif;
    font-weight: 200;
}

h5, .uppercase, .general-sub {
    font-family: "archivo black", sans serif;
    font-weight: 100;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 40px;
}

.container-fluid p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* Headings */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/bwtristan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "archivo black", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #000;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: "archivo black";
}

/* Hover.CSS */

.hvr-fade:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* Footer */

footer {
    background-color: #000000;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #ff0028;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #000000;
    background: #ffffff;
}

#footer-details {
    padding: 20px;
}

/* Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #beef00;
}

.three-reasons-heading {
    margin-bottom: 15px;

}

/* Personal Info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;    
}

.personal-info-item .key, .personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p, .personal-info-item .value p {
    padding-right: 8px;
    display: inline-block;
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}